@import "colors.scss";

.notification {
  align-items: center;
  display: flex;

  section {
    align-items: center;
    display: flex;
    column-gap: 1rem;

    .profilePhotoContainer {
      img {
        width: 4rem;
      }
    }

    .infoContainer {
      display: flex;
      flex-direction: column;
      row-gap: 0.4rem;

      p {
        color: $dark-grayish-blue;
        display: flex;
        column-gap: 0.4rem;

        .fullName {
          color: $very-dark-blue;
        }
      }
    }
  }
}
